.image {
  object-fit: cover;
  width: 500px;
  height: 500px;
  border-radius: 20px;
}

.mainButton {
  padding: 10px 20px;
  border: 2px solid rgb(19, 161, 142);
  color: rgb(19, 161, 142);
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.mainButton:hover {
  background-color: rgb(19, 161, 142);
  color: #fff;
  transition: 0.3s;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.answer {
  padding: 4px 8px;
  border: 1px solid #ffffff00;
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.answer:hover {
  border: 1px solid #292929;
  transition: 0.3s;
}

.answer.selected {
  background-color: #292929;
  color: #fff;
}